// Helpcenter theming.

div.state-list {
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;

	section.row {
		padding-top: 60px;
		padding-bottom: 60px;

		&> div > div {
			padding-left: 10px;
			padding-right: 10px;
		}

		.list-group {
				margin-top: 5px;
				margin-bottom: 5px;
			.group-title {
				margin-top: 5px;
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid lightgrey;
			}
		}

		.list-link {
			a {
				text-decoration: none;
			}

			.yt-icon {
				height: 13px;
			}

			.yt-title {
				.yt-span {
					vertical-align: text-top;
				}
			}

			.list-link-title {
				margin: 2px 0;

				.glyphicon-link {
					height: 15px;
					margin-right: 10px;
				}
			}
		}

		.list-wt {
			a {
				text-decoration: none;

				.list-play-button {
					color: #84c441;
					margin-right: 10px;
				}
			}

			.wt-title {
				margin: 2px 0;
				font-size: 13px;
			}

			.glyphicon-link, .list-play-button {
				font-size: 15px;
			}
		}

		.col-xs-1 {
			padding: 0 0 0 15px;
			text-align: center;
		}

		.col-xs-11 {
			padding-left: 6px;
		}
	}

	.navbar-fixed-top {
		border-top: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;

		ul.navbar-right {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	.navbar-fixed-bottom {
		border-bottom: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
		font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
		height: 30px;
		min-height: 0px;
	  font-size: 12px;

		ul.navbar-right {
			position: absolute;
			right: 0px;
			bottom: 0px;
			margin: 0;
		}

		li {
	    padding: 5px;

			a {
				display: inline;
				padding: 0;
			}
		}
	}
}

// Theming on search and record buttons.

.row-wt-no-helpcenter {
	margin: 10px 0;
}

.help-button {
	padding: 5px 12px;
	span {
		vertical-align: middle;
	}
}

.btn-record-true, .btn-record-false {
	 span {
		vertical-align: middle;
	}
}

div.wh-record-wrapper {
	ul.navbar-right {
		margin-right: 10px;
	}
}
