{
	"db": "",
	"debug": true,
	"secret": "",
	"cookiesecret": "",
	"baseurl": "http://localhost:8080/",
	"httpaddr": "",
	"redirectall": false,
	"embedurl": "",
	"google": {
		"id": "",
		"secret": ""
	}
}
