// Importing custom TrueType Fonts from file.
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Semi-Bold';
  src: url('../fonts/OpenSans-Semibold.ttf');
}